.popup .product__preview-big-cont,
.popup .product__preview-small-cont {
    display: none;
}

.lightbox .popup .product__preview-big-cont,
.lightbox .popup .product__preview-small-cont {

    display: grid;
}

.popup__content {
    display: none;
}

.lightbox .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    height: 50rem;
    width: 50rem;
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.lightbox .selected > *,
.lightbox .product__preview-small-img:hover,
.lightbox .product__preview-small-img:active {
    opacity: 1 !important;
    filter: brightness(1.2);
}

.lightbox .popup .product__preview-big-cont {
    transform: scale(1.1);
}

.popup__close-btn {
    display: none;
}

.lightbox .popup__close-btn {
    display: inline-block;
    height: 2.25rem;
    width: 2.25rem;
    outline: none;
    position: absolute;
    background-color: transparent;
    border: none;
    cursor: pointer;
    top: -15%;
    right: -6%;
}

.lightbox .popup__close-icon {
    fill: var(--color-white);
    transition: all 0.2s ease-in-out;
    width: 100%;
    height: 100%;
}

.lightbox .popup__close-icon path {
    transform: scale(1.7);
}

.lightbox .popup__close-btn:hover .popup__close-icon,
.lightbox .popup__close-btn:active .popup__close-icon {
    fill: var(--color-orange);
}

.lightbox .popup__switch-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: absolute;
    z-index: 101;
    top: 50%;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: var(--color-white);
}

.lightbox .popup__switch-btn--left {
   left: -6%;
   transform: translateX(-40%);
}

.lightbox .popup__switch-btn--right {
    right: -6%;
    transform: translateX(40%);
}

.popup__btn-icon {
    transition: all 0.2s ease-in-out;
    stroke: var(--color-switch-button);
} 

 .lightbox .popup__switch-btn:hover .popup__btn-icon,
 .lightbox .popup__switch-btn:active .popup__btn-icon {
    stroke: var(--color-orange);
 }