/* 1200px */
@media only screen and (max-width: 75em) {
    html {
        font-size: 56.25%; /*9PX*/
    }

    .header__box {
        padding: 0 2.5rem;
    }

    .hero__box {
        gap: 5rem;
    }

    .flex-cont-count {
        flex-direction: column;
        align-items: flex-start;
        gap: 0rem;
    }
}
/* 800px */
@media only screen and (max-width: 50em) {
    .lightbox body .popup {
        display: none;   
    }

    .hero__box {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, minmax(15rem, 50rem));
    }

    .product__switch-btn {
        display: flex;
        position: absolute;
    }

    .product__switch-btn--right {
        top: 50%;
        right: 8%;
        transform: translate(50%, -50%);
    }

    .product__switch-btn--left {
        top: 50%;
        left: 8%;
        transform: translate(-50%, -50%);
    }

    .product__btn-icon {
        transition: all 0.2s ease-in-out;
        stroke: var(--color-switch-button);
    } 

    .product__switch-btn:hover .popup__btn-icon,
    .product__switch-btn:active .popup__btn-icon,
    .product__switch-btn:focus .popup__btn-icon {
        stroke: var(--color-orange);
    }

    .product__preview {
        position: relative;
    }

    .product__preview-small-cont {
        display: none;
    } 

    .product__preview-big-cont {
        height: 100%;
    }

    .product__preview-big-img {
        height: 100%;
    }

    .header {
        height: 11.1rem;
    }
    
    .header__box {
        width: 100vw;
        position: fixed;
        right: 50%;
        transform: translateX(50%);
        background-color: #fff;
        z-index: 9991;
    }

    .attribution > .cont {
        justify-content: flex-start;
        padding: 0 4rem;
    }

    .nav {
        flex-direction: row-reverse;
        gap: 5rem;
    }

    .nav__open-btn {
        opacity: 1;
        pointer-events: all;
        visibility: visible;
    }

    .header__box {
        padding: 2.5rem;
    }

    .nav__open-btn {
        position: relative;
    } 

    .menu-close-icon,
    .menu-open-icon {
        position: absolute;
        transform: translateY(-50%);
        z-index: 9999;
    }

    .menu-close-icon {
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
    }

    .menu-open-icon {
        pointer-events: all;
        opacity: 1;
        visibility: visible;
    }

    .m-c .menu-close-icon {
        pointer-events: all;
        opacity: 1;
        visibility: visible;
    }

    .m-c .menu-open-icon {
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
    }

    .nav__list {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        position: absolute;
        z-index: 9998;
        top: 0;
        left: -30vw;
        background-color: #fff;
        z-index: 9998;
        width: 30vw;
        height: 100vh;
        flex-direction: column;
        padding: 15rem 2.5rem 0 2.5rem;
        transition: all .2s ease-in;
    }

    .m-c .nav__list {
        opacity: 1; 
        pointer-events: all;
        visibility: visible; 
        position: absolute;
        top: 0;
        left: 0;
    }

    .nav__list-item {
        padding: 1rem 0;
    }

    .nav__list-item-link:link,
    .nav__list-item-link:visited {
        font-weight: 700;
        color: var(--color-very-dark-blue);
        font-size: 2.4rem;
    }
}

/* 500px */
@media only screen and (max-width: 31.25em) {
    html {
        font-size: 50%; /*8PX*/
    }

    .attribution > .cont {
        font-size: 1.4rem;
    }

    .hero__box {
        padding: 0 0 6.4rem 0;
    } 

    .product__info {
        padding: 0 3.2rem;
    }

    .product__preview-big-img {
        border-radius: 0;
    }
    
    .product__info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .product__info .tertiary-heading,
    .product__info .main-heading,
    .product__info .product__info-desc,
    .product__info .flex-cont-count {
        grid-column: 1 / -1;
    }

    .product__info span {
        margin: 0;
    }

    .product__info .flex-cont,
    .product__info span {
        align-self: center;
    }

    .flex-cont:has(.product__info-special-price) {
        width: 75%;
    }

    .product__info-no-special-price {
        display: flex;
        justify-content: flex-end;
    }

    .product__info .flex-cont-count {
        align-items: stretch;
    }

    .product__info-quantity {
        justify-content: space-between;
    }

    .product__info-cart-add-button {
        justify-content: center;
    }

    .nav__list {
        left: -50vw;
        width: 50vw;
    }
}