*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-orange: hsl(26, 100%, 55%);
    --color-pale-orange: hsl(25, 100%, 94%);
    --color-dark-grayish-blue: hsl(219, 9%, 45%);
    --color-very-dark-blue: hsl(220, 13%, 13%);
    --color-grayish-blue: hsl(220, 14%, 75%);
    --color-light-grayish-blue: hsl(223, 64%, 98%);
    --color-grey: #555;
    --color-light-grey: #ededed;
    --color-white: hsl(0, 0%, 100%);

    --default-font-size: 1.6rem;
}

html {
    overflow-x: hidden;
    font-size: 62.5%; /*10px*/
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--color-white);
}

.cont {
    max-width: 117rem;
    margin: 0 auto;
}

.lightbox {
    overflow-y: hidden;
}

.lightbox body .popup {
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 99;
    height: 100%;
    width:  100%;   
}